@model LotteryService.FrontEnd.Models.DTO.DepartmentResponseDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Удаление подразделения</h2>

<div class="row">
    <div class="col-md-12">
        <h6>Вы действительно хотите удалить подразделение:</h6>
        <h6 style="color: red;">@Model.Name </h6>
    </div>
</div>
<a class="btn btn-outline-primary btn-sm"asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>
