@model LotteryService.FrontEnd.Models.DTO.DepartmentResponseDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h1>Подразделение</h1>
    
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>


