@using LotteryService.FrontEnd.Models.DTO
@model EmployeeResponseDto

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body" id="randomize">
            @if (Model != null)
            {
                @if (string.IsNullOrEmpty(Model.PhotoPath))
                {
                    <img src="~/EmployeePhotos/employee.png" width="200" height="200" class="rounded-circle"/>
                }
                else
                {
                    <img src="~/EmployeePhotos/@Model.PhotoPath" width="200" height="200" class="rounded-circle"/>
                }
                <dl class="dl-horizontal">
                    <dt>Фамилия</dt>
                    <dd>@Model.SecondName</dd>
                    <dt>Имя</dt>
                    <dd>@Model.Name</dd>
                    <dt>Отчество</dt>
                    <dd>@Model.ThirdName</dd>
                    <dt>Должность</dt>
                    <dd>@Model.Position</dd>
                    <dt>Подразделение</dt>
                    <dd>@Model.Department.Name</dd>
                    <dt>Табельный номер</dt>
                    <dd>@Model.PersonalNumber</dd>
                </dl>
            }
            else
            {
                <div>Сотрудники не найдены!</div>
            }
                
        </div>
    </div>
</div>