@model LotteryService.FrontEnd.Models.DTO.EmployeeResponseDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h1>Сотрудник</h1>
    
    <hr/>
    @if (string.IsNullOrEmpty(Model.PhotoPath))
    {
        <img src="~/EmployeePhotos/employee.png" width="200" height="200" class="rounded-circle"/>
    }
    else
    {
        <img src="~/EmployeePhotos/@Model.PhotoPath" width="200" height="200" class="rounded-circle"/>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Изменить</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

