@model LotteryService.FrontEnd.Models.DTO.EmployeeResponseDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Удаление сотрудника</h2>
<div class="row">
    <div class="col-md-12">
        <h6>Вы действительно хотите удалить сотрудника:</h6>
        <h6 style="color: red;">@Model.SecondName @Model.Name @Model.ThirdName </h6>
        <h6>с табельным номером: @Model.PersonalNumber?</h6>
    </div>
</div>
<a class="btn btn-outline-primary btn-sm"asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

