@model ICollection<LotteryService.FrontEnd.Models.DTO.EmployeeResponseDto>

@{
    ViewBag.Title = "Сотрудники Общества";
    Layout = "_Layout";
}


<p>
    <a class="btn btn-primary  btn-sm" asp-action="Create">Создать</a>
</p>
<table class="table table-striped table-sm .thead-light">
    <thead>
    <tr>
        <th></th>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Отчество
        </th>
        <th>
            Должность
        </th>
        <th>
            Подразделение
        </th>
        <th>
            Табельный номер
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @if (string.IsNullOrEmpty(@item.PhotoPath))
            {
                <td>
                    <img src="~/EmployeePhotos/employee.png" class="rounded-circle" width="40" height="40" asp-append-version="true"/>
                </td>
            }
            else
            {
                <td>
                    <img src="~/EmployeePhotos/@item.PhotoPath" class="rounded-circle" width="40" height="40" asp-append-version="true"/>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNumber)
            </td>
            <td>
                <a class="btn btn-outline-primary  btn-sm" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                <a class="btn btn-outline-primary btn-sm"asp-action="EmployeeForDelete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>

