@model LotteryService.FrontEnd.Models.DTO.EmployeeResponseDto

@{
    ViewBag.Title = "Поиск";
    Layout = "_Layout";
}

<h2>Поиск сотрудника</h2>
<hr/>
<h6>Введите табельный номер сотрудника</h6>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" id="number" class="form-control">
        </div>
    </div>
    <div  id="searchResult">
        
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $('#number').on('input propertychange paste',function () {
            searchTag();
        });
        
        function searchTag(){
             $.ajax({
                type: "POST",
                url: "/Employee/Search",
                data: {
                    number: $("#number").val(),
                },
                async: true,
                error: function (response) {
                    console.log("Error: " + response);
                },
                success: function (response) {  
                    $('#searchResult').html(response);
                }
            });
        }
    </script>
}