﻿

@{

    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <style>

        #business-card {
            width: 550px;
            padding: 30px;
        }

        #business-card-gr {
            width: 490px;
            padding: 0px;
           
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 3px solid rgb(0,121,194);
        }

        .business-row {
            font-size: 1.7em;
            max-width: 520px;
        }

        #business-card-family {
            text-transform: uppercase;
            font-size: 2.5em !important;
            font-weight: 800;
        }

        #business-card-name {
            font-size: 2.1em !important;
            font-weight: 700;
            margin-bottom: 5px;
        }

        #business-card-position {
            width: 520px;
            
        }

        .position-text {
            width: 100%;
            position:absolute;
            width:auto;
        }

        .fontsize {
            position: relative;
        }

      

        .fontsize .text {
            width: 100%;
            position: absolute;
            font-family: 'Roboto Condensed', sans-serif;
            color: #337AB7;
            font-size: 48px;
            
        }
        
    </style>
</head>


<body>

    <div class="container">
        <button id="save">Сохранить</button>
        <div id="business-card">


            <div class="">
                <div id="business-card-gr">
                    <div id="qr-container"></div>
                </div>
            </div>

            <div class="" id="business-card-family">
                Попов
            </div>
            <div class="" id="business-card-name">
                Алексей Сергеевич
            </div>
            <div class="business-row" id="business-card-position">
                <div class="position-text">Ведущий инженер-программист kabcjabcjasdbc adhc bahsdcb </div>
            </div>
            <div class="business-row" id="business-card-company">
                ООО "Газпром добыча Ямбург",
            </div>

            <div class="business-row" id="business-card-science-position">
                к.т.н.
            </div>
            <br>
            <div class="business-row" id="business-card-adress-row1">
                629306, ЯНАО, г. Новый Уренгой,
            </div>
            <div class="business-row" id="business-card-adress-row2">
                ул. Геологоразведчиков, д. 9
            </div>

            <div class="business-row" id="business-card-phone">
                Тел.: +7 (3494) 96-61-20
            </div>
            <div class="business-row" id="business-card-personal-phone">
                Моб. тел.: +7 (922) 486-94-56
            </div>

            <div class="business-row" id="business-card-email">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(0,121,194)" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                </svg> as_popov3@yamburg.gazprom.ru
            </div>
        </div>
        <div class="fontsize">
            <div class="text">Размер шрифта</div>
        </div>
    </div>
    
    <img id="img-buffer" src="~/logo/logo2.png" hidden>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/jquery-qrcode.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/html2canvas.min.js" asp-append-version="true"></script>


    <script language="JavaScript">
        
        $(function () {
            

            var a = "BEGIN:VCARD" + "\r\n";
            a += "VERSION:3.0" + "\r\n";
            a += "N;CHARSET=UTF-8:Попов;Алексей;Сергеевич;" + "\r\n",
                a += "FN;CHARSET=UTF-8:Алексей Сергеевич" + "\r\n";
            a += "TITLE;CHARSET=UTF-8:Ведущий инженер-программист" + "\r\n";
            a += "TEL;TYPE=work:+7(3494) 96-61-20" + "\r\n";
            a += "TEL;TYPE=cell:+7(922)486-94-56" + "\r\n";
            a += "EMAIL;CHARSET=UTF-8:Lexs200610@yandex.ru" + "\r\n";
            a += "ADR;CHARSET=UTF-8:;;д. 9;ул. Геологоразведчиков;г. Новый Уренгой;ЯНАО;Россия;629306" + "\r\n";
            a += "END:VCARD";


            var options = {
                render: "canvas",
                ecLevel: 'Q',//Recognition degree
                fill: 'rgb(0,121,194)',//QR code color
                background: '#ffffff',//Background color
                quiet: 1,//margin
                size: '490',//width
                text: a,// QR code content
                //Middle logo start
                mode: 4,
                mSize: 25 * 0.01,
                mPosX: 50 * 0.01,
                mPosY: 50 * 0.01,
                image: $('#img-buffer')[0],//logo image
                //Middle logo end
                label: 'jQuery.qrcode',
                fontname: 'Ubuntu',
                fontcolor: '#ff9818',
            };
            $('#qr-container').empty().qrcode(options);

        });

        function fontsize() {
            let block = document.querySelector('#business-card-position');
            let text = document.querySelector('#business-card-position .position-text');
            let wb = block.offsetWidth;
            let wt = text.offsetWidth;

            //var el = document.getElementById('foo');
            var style = window.getComputedStyle(text, null).getPropertyValue('font-size');
            var fontSize = parseFloat(style);

            console.log(wt);
            console.log(wb);    
            console.log(fontSize);
            while (text.offsetWidth > wb) {
                fontSize--;
                text.style.fontSize = fontSize + "px";
                console.log(fontSize);
            }
            
            
            text.style.color = "red";
        }
        window.onload = fontsize;
        //window.onresize = fontsize; 



        $('#save').click(function (e) {

            html2canvas(document.getElementById("business-card"), { useCORS: true }).then(function (canvas) {
                var imgBase64 = canvas.toDataURL();
                var image = imgBase64.replace('data:image/png;base64,', '');

                $.ajax({
                    type: "POST",
                    url: "/Home/Code2",
                    data: {
                        img: image
                    },
                    async: true,
                    error: function (response) {
                        console.log("Error: " + response);
                    },
                    success: function (response) {
                        console.log(response);
                    }
                });

                // console.log("imgBase64:", imgBase64);
                var imgURL = "data:image/" + imgBase64;
                var triggerDownload = $("<a>").attr("href", imgURL).attr("download", "layout_" + new Date().getTime() + ".png").appendTo("body");
                triggerDownload[0].click();
                triggerDownload.remove();
            });

            e.preventDefault();
        });</script>
</body>
</html>
