@using LotteryService.FrontEnd.Models.DTO
@model EmployeeResponseDto

<div>
    <h1>Сотрудник</h1>
    
    <hr/>
    <img src="~/EmployeePhotos/@Model.PhotoPath" class="rounded-circle" width="200" height="200" asp-append-version="true"/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalNumber)
        </dd>
    </dl>
</div>
